
body {
    background-color: #000000;
    background-image: url("/img/homepageImage.jpeg");
    background-position: right 50px bottom 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: azure;
    margin-bottom: 3em;
}

a {
    color: #9678d0;
    text-decoration: none;
}

button {

}

.maindiv, .homepage {
    background-color: #000000;
}

.badlister-txt, a:hover {
    color: #b9f700;
}

